body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  /* margin: 0; */
}

.container {
  padding: 20px;
  background: #131050;
}

.title {
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title .wrapper {
  max-width: 768px;
  margin: auto;
}

.title .wrapper p {
  font-size: 1.2rem;
  color: #777777;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #131050; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555374; 
}
  